* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.post {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-badge img {
    width: 32px;
    height: 32px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: 600;
    font-size: 14px;
}

.user-username {
    font-size: 14px;
}

.post-header i {
    font-size: 20px;
}

.post-img img {
    width: 100%;
    display: block;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
}

.post-icons-izq {
    display: flex;
    gap: 7px;
}

.post-icons i {
    font-size: 26px;
}

.post-body {
    padding: 0 16px 16px;
}

.post-body p {
    font-size: 14px;
    margin-bottom: 15px;
}

.post-body strong {
    font-weight: 600;
}